<div class="container">
    <div class="row">
        <div class="col-12 error">
            <div class="d-flex align-item-center" style="height: calc(100vh - 6.5rem);">
                <div class="align-self-center m-auto">
                    <div class="error-div">4<span></span>4</div>
                    <h2>Oops! 404 – page not Found</h2>
                    <p>We’re sorry, the page you requested could not be found.</p>
                    <button type="button" class="btn btn-primary" style="margin-right: 1rem;" [routerLink]="['/']">Back Home</button>
                    <a [routerLink]="['/category/e-liquids']" class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>