<div id="sidbar-1">
    <div class="sidebar-header">Filters <a id="s1-close" class="side-close "></a></div>

    <div class="sidebar-div">
        <div class="col-12 p-0">

            <div class="refine-div">
                <h4>Refine By: <button class="btn btn-primary">Clear</button></h4>

                <div class="alert fade show refine-s-item" role="alert"> E-Liquids
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>

                <div class="alert fade show refine-s-item" role="alert"> Salt Nicotine
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>

                <div class="alert fade show refine-s-item" role="alert"> Flavour Concentrated
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>

            </div>
            <div class="accordion" id="accordionExample-mob">

                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne-mob"
                    aria-expanded="true" aria-controls="collapseOne-mob"><i
                        class="fas fa-caret-right"></i>Price</button> 

                <div id="collapseOne-mob" class="collapse show" aria-labelledby="headingOne">
                    <div class="price-range">
                        <div class="double-handle-slider-mob"></div>
                        <div class="row price-range-value">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend"> <span class="input-group-text">£</span>
                                    </div>
                                    <input type="number" class="form-control min-value1" placeholder="0"
                                        style="font-size: 14px">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend"> <span class="input-group-text">£</span>
                                    </div>
                                    <input type="number" class="form-control max-value2" placeholder="1000"
                                        style="font-size: 14px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn active" type="button" data-toggle="collapse" data-target="#collapsetwo-mob"
                    aria-expanded="true" aria-controls="collapsetwo-mob"><i class="fas fa-caret-right"></i>Special
                    Offers</button>

                <div id="collapsetwo-mob" class="collapse show" aria-labelledby="headingtwo">
                    <div class="filterdiv">
                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-1">
                            <label class="custom-control-label" for="flm-1">2 Shortfills for £ 20</label>

                        </div>

                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-2">
                            <label class="custom-control-label" for="flm-2">2 Shortfills for £ 25</label>
                        </div>
                    </div>
                </div>

                <button class="btn" type="button" data-toggle="collapse" data-target="#collapsethree-mob"
                    aria-expanded="true" aria-controls="collapsethree-mob"><i class="fas fa-caret-right"></i>Eliquid
                    Type</button>

                <div id="collapsethree-mob" class="collapse show" aria-labelledby="headingthree">
                    <div class="filterdiv">

                        <div class="search-filter"><i class="fa fa-search"></i>
                            <input type="text" class="form-control" id="" placeholder="Search">
                        </div>



                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-3">
                            <label class="custom-control-label" for="flm-3">Flavour Concentrated</label>
                        </div>
                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-4">
                            <label class="custom-control-label" for="flm-4">Salt Nicotine</label>
                        </div>
                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-5">
                            <label class="custom-control-label" for="flm-5">Shortfill</label>
                        </div>
                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-6">
                            <label class="custom-control-label" for="flm-6">VG/PG Base</label>
                        </div>
                    </div>
                </div>

                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseforth-mob"
                    aria-expanded="true" aria-controls="collapseforth-mob"><i class="fas fa-caret-right"></i>Nic
                    Salt</button>

                <div id="collapseforth-mob" class="collapse show" aria-labelledby="headingthree">
                    <div class="filterdiv">

                        <div class="search-filter"><i class="fa fa-search"></i>
                            <input type="text" class="form-control" id="" placeholder="Search">
                        </div>

                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-3">
                            <label class="custom-control-label" for="flm-3">Flavour Concentrated</label>
                        </div>
                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-4">
                            <label class="custom-control-label" for="flm-4">Salt Nicotine</label>
                        </div>
                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-5">
                            <label class="custom-control-label" for="flm-5">Shortfill</label>
                        </div>
                        <div class="custom-control custom-checkbox"><span class="badge">200</span>
                            <input type="checkbox" class="custom-control-input" id="flm-6">
                            <label class="custom-control-label" for="flm-6">VG/PG Base</label>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>

</div>