// @import "../../../../styles";
// @import "../../../../assets/scss/product-detail";

.ng-gallery {
    left: auto;
    transform: none;
    width: 100%;
    position: relative;
    background-color: transparent;
}
.g-counter {
    visibility: hidden;
}

.radio-text {
    font-size: 18px;
}



// .top-category-detail{
//     background-color: #009cde;
//     color: #fff;
//     top: 0rem;
// }