<div class="sub-header">
    <div class="hd-content">
        <h2>Our <span>Clients</span></h2>
        <!-- <p>UK ONLINE ECIG SHOP</p> -->
    </div>
</div>  

<div class="related-pr-section">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/beaconhouse.jpg" alt=""></div>
                    <h3>Beaconhouse</h3> 
                </div>	
            </div>	
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/century-paper.jpg" alt=""></div>
                    <h3>Century Paper</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/mitchells.jpg" alt=""></div>
                    <h3>Mitchells</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/nishat-mills.jpg" alt=""></div>
                    <h3>Nishat Mmills</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/pakistan-housing.jpg" alt=""></div>
                    <h3>Pakistan Housing</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/mpcl.jpg" alt=""></div>
                    <h3>MPCL</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/ici.jpg" alt=""></div>
                    <h3>ICI</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/coca-cola.jpg" alt=""></div>
                    <h3>Coca Cola</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/lgs.jpg" alt=""></div>
                    <h3>LGS</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/pepsi.jpg" alt=""></div>
                    <h3>Pepsi</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/bahria-town.jpg" alt=""></div>
                    <h3>Bahria Town</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/ffc.jpg" alt=""></div>
                    <h3>FFC</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/engro.jpg" alt=""></div>
                    <h3>Engro</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/pha.jpg" alt=""></div>
                    <h3>PHA</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/punjab-govt.jpg" alt=""></div>
                    <h3>Punjab GOVT.</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/haleeb.jpg" alt=""></div>
                    <h3>Haleeb</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/sitara-group.jpg" alt=""></div>
                    <h3>Sitara Group</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/mcdonalds.jpg" alt=""></div>
                    <h3>Mcdonalds</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/omv.jpg" alt=""></div>
                    <h3>OMV</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/isi.jpg" alt=""></div>
                    <h3>ISI</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/lums.jpg" alt=""></div>
                    <h3>LUMS</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/dha-lahore.jpg" alt=""></div>
                    <h3>DHA Lahore</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/tetrapak.jpg" alt=""></div>
                    <h3>Tetrapak</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/nestle.jpg" alt=""></div>
                    <h3>Nestle</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/cda.jpg" alt=""></div>
                    <h3>CDA</h3> 
                </div>	
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="brand-card">
                    <div><img src="../assets/images/paul-mitchell.jpg" alt=""></div>
                    <h3>Paul Mitchell</h3> 
                </div>	
            </div>
        </div>
    </div>

</div>
