<!-- <div class="col-lg-8 pb-30">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <h2 class="up-heading">Change <span>Password</span></h2>

        <div class="row pt-10">

            <div class="form-group col-md-6" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
                <label for="">Current Password</label>
                <input type="password" class="form-control">
                <div *ngIf="submitted && f.password.errors">
                    <p *ngIf="f.password.errors.required">Current Password is Required</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-6" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
                <label for="">New Password</label>
                <input type="password" class="form-control">
                <div *ngIf="submitted && f.password.errors">
                    <p *ngIf="f.password.errors.required">New Password is Required</p>
                    <p *ngIf="f.password.errors.minlength">New Password must be at least 8 characters</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
                <label for="">Re-enter Password</label>
                <input type="password" class="form-control">
                <div *ngIf="submitted && f.password_confirmation.errors">
                    <p *ngIf="f.password_confirmation.errors.required">Password is Required</p>
                    <p *ngIf="f.password_confirmation.errors.mustMatch">Password must match</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="isClicked" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    {{ isClicked ? '' : 'Update Password'}}
                </button>
            </div>

        </div>
    </form>
</div> -->