@import "../../../../styles.scss";
.sub-header-profile {
    background-color: $secondary;
    width: 100%;
    height: 12.5rem;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;

    .hd-content {
        -ms-flex-item-align: center;
        align-self: center;
        width: 100%;

        h2 {
            font-size: 1.75rem;
            line-height: 1;
            position: relative;
            font-weight: weight(bold);
            display: inline;
            span {
                font-weight: weight(regular);
            }
        }
        .avatar {
            svg {
                width: 2.188rem;
                height: 2.188rem;
                margin-top: -0.313rem;
                margin-right: 0.938rem;
                float: left;

                .st0 {
                    clip-path: url(#SVGID_2_);
                }
                .st1 {
                    fill: #dddddd;
                }
                .st2 {
                    fill: #282828;
                }
                .st3 {
                    fill: #c7c5c6;
                }
                .st4 {
                    fill: #e0e0e0;
                }
                .st5 {
                    fill: #dedede;
                }
                .st6 {
                    fill: #e1e1e1;
                }
                .st7 {
                    fill: #c2c1c2;
                }
                .st8 {
                    fill: #cecece;
                }
                .st9 {
                    fill: $primary;
                }
            }
        }
    }
    p {
        font-size: 1.125rem;
    }
}

.Reward-point {
    width: 11rem;
    position: relative;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    margin-top: -1.625rem;
    .points {
        position: absolute;
        z-index: 3;
        top: 2.75rem;
        font-family: $primary-font;
        font-size: 1.25rem;
        font-weight: weight(medium);
        width: 100%;
        line-height: 1;
    }
    small{font-size: 0.813rem;}
    svg {
        width: 11rem; 
        .st0 {
            fill: $secondary;
            stroke: #ffffff;
            stroke-width: 0.5;
            stroke-miterlimit: 10;
        }
        .st1 {
            fill: #ffffff;
        }
        .st2 {
            fill: $primary;
        }
    }
    h3 {
        background-color: $primary;
        font-size: 1.375rem;
        font-weight: weight(bold);
        letter-spacing: 0.625rem;
        border-radius: $border-radius-sm;
        display: block;
        margin-top: 0.188rem;
        line-height: 1;
        padding: 0.125rem 0 0 0.563rem;
    }
    span {
        font-size: 0.875rem;
        letter-spacing: 0.094rem;
    }
}

.deal-div {
    background-color: #fff;
    border-radius: $border-radius;
    padding: 0.938rem;
    border-bottom: solid 0.125rem $primary;
    box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.25);
    margin-top: -2.188rem;
    margin-bottom: -2.188rem;

    svg {
        width: 2.625rem;
        height: 2.625rem;
        margin-top: -0.25rem;
        .st0 {
            fill: #f6f6f6;
        }
        .st1 {
            fill: $primary;
        }
        .st2 {
            fill: $secondary;
        }
    }

    h3 {
        line-height: normal;
        color: $primary;
        font-size: 1.125rem;
        line-height: 1;
        span {
            font-weight: normal;
            color: $body-color;
        }
    }
    h4 {
        line-height: normal;
        font-size: 1rem;
    }
    .btn-secondary {
        padding: 0.25rem 0.625rem;
        font-size: 0.813rem;
        margin-top: 0.313rem;
    }
}

.profile-links {
    padding-top: 1.875rem;
    a {
        background-color: #fff;
        border-radius: $border-radius;
        position: relative;
        padding: 0.938rem;
        box-shadow: 0 0 0.938rem 0 rgba(0, 0, 0, 0.15);
        display: block;
        text-decoration: none;
        color: $secondary;
        font-family: $primary-font;
        font-weight: weight(medium);
        letter-spacing: 0.094rem;
        font-size: 1.125rem;
        margin-bottom: 1.875rem;
        @include transition-all;

        svg {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.938rem;
            @include transition-all;
            .st0 {
                fill: #f6f6f6;
            }
            .st1 {
                fill: $secondary;
            }
            .st2 {
                fill: $primary;
            }
            .snone {
                fill: none;
            }
        }

        span {
            float: right;
            background-color: #f6f6f6;
            padding: 0.625rem;
            line-height: 1;
            font-family: $font-family-base;
            margin-right: 4.063rem;
            font-size: 0.875rem;
            margin-top: 0.188rem;
            border-radius: $border-radius-sm;
        }

        &:after {
            width: 1rem;
            font-weight: 900;
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            color: #d5d5d5;
            position: absolute;
            right: 1.875rem;
            top: 1.188rem;
            z-index: 2;
            font-size: 1.375rem;
            @include transition-all;
        }

        &:hover {
            &:after {
                right: 0.625rem;
                @include transition-all;
            }
            svg {
                margin-left: 1.875rem;
                @include transition-all;
            }
        }
    }
}

.wishlist-pro{position: relative; padding-top: 1.25rem; 
	.col-lg-3 {
    	flex: 0 0 33%; max-width: 33%; 
	}
    .product-card {.btn-primary{font-size: 0.813rem !important; padding: 0.563rem 0.5rem !important;}}
}

.table td, .table th {
    padding: 0.5rem; text-align: left;
    border-top: 0.063rem solid #dee2e6; font-size: 0.875rem;
}
.table thead th {
    border-bottom:0.063rem solid $primary; border-top: none;
}
.table td .btn-primary{font-size: 0.75rem; padding: 0.188rem 0.5rem; line-height: normal; margin-bottom: 0.188rem; margin-top: -0.188rem; border-radius: $border-radius-sm;}

@include media-1366 {
    .sub-header-profile {
        margin-top: -0.188rem;
    }
}

@include media-1024 {
    .wishlist-pro{ 
		.col-lg-3 {
			flex: 0 0 50%; max-width: 50%; padding-left: 1.875rem; padding-right: 1.875rem;
		}
	}
}

@include media-800 {
    .sub-header-profile {
        .hd-content {
            -ms-flex-item-align: center;
            align-self: center;
            width: 100%;

            h2 {
                font-size: 1.5rem;
            }
            .avatar {
                svg {
                    width: 1.875rem;
                    height: 1.875rem;
                    margin-top: -0.188rem;
                }
            }
        }
        p {
            font-size: 1rem;
        }
    }

    .Reward-point {
        width: 9.438rem;
        .points {
            top: 2.5rem;
            font-size: 1.125rem;
        }
        svg {
            width: 9.75rem;
        }
        h3 {
            font-size: 1rem;
            letter-spacing: 0.5rem;
            padding: 0.188rem 0 0.063rem 0.375rem;
        }
        span {
            font-size: 0.813rem;
            letter-spacing: 0.063rem;
        }
    }

    .profile-links {
        a {
            letter-spacing: 0.031rem;
            font-size: 1rem;
            padding: 0.625rem;
            margin-bottom: 1.25rem;

            svg {
                width: 2.25rem;
                height: 2.25rem;
                margin-right: 0.625rem;
            }

            span {
                margin-right: 1.875rem;
                font-size: 0.813rem;
                margin-top: 0.125rem;
            }

            &:after {
                right: 0.938rem;
                top: 0.813rem;
                font-size: 1.25rem;
            }

            &:hover {
                &:after {
                    right: 0.938rem;
                }
                svg {
                    margin-left: 0;
                }
            }
        }
    }

    .deal-div {
        padding: 0.625rem;
        margin-top: -1.813rem;
        margin-bottom: -1.813rem;

        svg {
            width: 2.25rem;
            height: 2.25rem;
            margin-top: -0.125rem;
        }

        h3 {
            font-size: 1rem;
        }
        h4 {
            font-size: 0.875rem;
        }
        .btn-secondary {
            margin-top: 0.188rem;
        }
    }
    .wishlist-pro{padding-top: 1.875rem;}
}

@include media-767 {
    .sub-header-profile {
        height: 7rem;

        .hd-content {
            -ms-flex-item-align: center;
            align-self: center;
            width: 100%;

            h2 {
                font-size: 1rem;
            }
            .avatar {
                svg {
                    width: 1.563rem;
                    height: 1.563rem;
                }
            }
        }
        p {
            font-size: 0.813rem;
            line-height: normal;
        }
    }

    .Reward-point {
        width: 8.5rem;
        .points {
            top: 2.125rem;
            font-size: 0.938rem;
        }
        small{font-size: 0.625rem;}
        svg {
            width: 8.5rem;
        }
        h3 {
            font-size: 0.875rem;
            letter-spacing: 0.5rem;
            padding: 0.188rem 0 0.063rem 0.5rem;
        }
        span {
            font-size: 0.688rem;
            letter-spacing: 0.063rem;
            display: block;
            padding-top: 0.188rem;
        }
    }

    .wishlist-pro{ padding-top: 1.25rem;
        .col-lg-3 {
            flex: 0 0 50%; max-width: 50%; padding-left: 0.625rem; padding-right: 0.625rem;
        }
    }
}

@include media-480 {
    .sub-header-profile {
     

        .hd-content {
            h2 {
                font-size: 1rem;
                span {
                     
                    font-size:0.875rem;
                    padding-top: 0.375rem;
                }
            }
            .avatar {
                svg {
                    width: 2rem;
                    height: 2rem;
                    margin-top: -0.313rem;
                    margin-right: 0.625rem;
                }
            }
        }
    
    }

    .Reward-point {
        width: 7.25rem;
        margin-top: -1.313rem;
        .points {
            top: 1.85rem;
            font-size: 0.813rem;
        }
        svg {
            width: 7.25rem;
        }
        h3 {
            font-size: 0.844rem;
            letter-spacing: 0.313rem;
            padding: 0.125rem 0 0.125rem 0.313rem;
        }
        span {
            font-size: 0.688rem;
            letter-spacing: 0.031rem;
            display: block;
            padding-top: 0.188rem;
        }
    }

    .profile-links {
        padding-top: 0;
        a {
            span {
                margin-right: 1.563rem;
            }

            &:after {
                right: 0.625rem;
            }

            &:hover {
                &:after {
                    right: 0.625rem;
                }
            }
        }
    }

    .deal-div {
        padding: 0.625rem;
        margin-top: -1.625rem;
        margin-bottom: -1.625rem;

        svg {
            width: 2.125rem;
            height: 2.125rem;
            margin-top: -0.125rem;
        }

        h3 {
            font-size: 0.906rem;
            letter-spacing: normal;
        }
        h4 {
            font-size: 0.844rem;
            letter-spacing: normal;
        }
        .btn-secondary {
            margin-top: 0;
            letter-spacing: normal;
        }
    }

    .wishlist-pro{ 
        .product-card {.btn-primary{font-size: 0.75rem !important; padding: 0.563rem 0.313rem !important;}}
    }
}

@include media-425 {
    .deal-div {
        svg {
            width: 1.875rem;
            height: 1.875rem;
        }
        h3 {
            font-size: 0.844rem;
            letter-spacing: normal;
        }
        h4 {
            font-size: 0.781rem;
            letter-spacing: normal;
        }
        .btn-secondary {
            padding: 0.25rem 0.438rem;
        }
    }

    .sub-header-profile {
        height: 9.375rem;

        .hd-content {
            h2 {
                font-size: 0.938rem;
                span { 
                    font-size:0.813rem; letter-spacing: 0.031rem;
                }
            }
 
        }
    
    }

    .wishlist-pro{ 
        .product-card {.btn-primary{padding: 0.438rem 0.25rem !important;}}
    }

}

@include media-375 {
    .wishlist-pro{ 
        .product-card {.btn-primary{font-size: 0.719rem !important;}
        .pr-pv {padding-right: 0.313rem;}
        .pb-sec {padding: 0.625rem 0.375rem;}
        }
        
    }

}

@include media-320 {
    .profile-links {
        a {
            letter-spacing: normal;
            font-size: 0.938rem;

            svg {
                width: 2.125rem;
                height: 2.125rem;
                margin-right: 0.375rem;
            }

            span {
                margin-right: 1.25rem;
                margin-top: 0.188rem;
                padding: 0.438rem;
            }

            &:after {
                right: 0.5rem;
                top: 0.875rem;
                font-size: 1.125rem;
            }
            &:hover {
                &:after {
                    right: 0.5rem;
                }
            }
        }
    }

    .sub-header-profile {
         

        .hd-content {
            h2 {
  
                span { 
                    font-size:0.75rem; 
                }
            }
 
        }
    
    }

    .wishlist-pro{  
        .col-lg-3 {
            flex: 0 0 100%; max-width: 100%; padding-left: 0.938rem; padding-right: 0.938rem;
        }
    }

}

// textarea {
//     resize: none;
//     font-family: $font-family-base;
// }
// label {
//     font-size: 0.875rem;
//     letter-spacing: 0.063rem;
//     margin-bottom: 0.313rem;
//     display: block;
// }
// .form-control {
//     font-size: 0.875rem;
//     font-family: $font-family-base;
// }
// .custom-select {
//     font-size: 0.875rem;
//     font-family: $font-family-base;
// }

.btn-pos {
    padding-top: 0.438rem;
}

.user-sidebar-page {
    padding-top: 2.5rem; padding-bottom: 2.5rem;
    .up-heading { margin-bottom: 0.938rem;
        font-size: 1.5rem;
        line-height: 1;
        position: relative;
        font-weight: weight(bold); 
        span {
            font-weight: weight(regular);
        }
    }
    h3 {
        font-size: 1.25rem;
        margin-bottom: 0.938rem;
        margin-top: 0.938rem;
        span {
            font-weight: weight(regular);
        }
    }
    .btn-primary {
        font-size: 0.938rem; height: 2.75rem; padding-left: 1.563rem; padding-right: 1.563rem;
    }
    hr {
        border-top: solid 0.063rem #dee2e6;
    }

    .border-heading {
        border-bottom: solid 0.063rem #e5e5e5;
        padding-bottom: 0.5rem;
        margin-bottom: 0.625rem;
        .btn-primary {
            float: right;
            padding: 0.188rem 0.5rem; height: auto !important;
        }
    }
}

.address-form {
    background-color: #fff;
    border-radius: $border-radius;
    padding: 0.938rem 1.25rem 1.25rem 1.25rem;
    border: solid 0.063rem #e5e5e5;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
    h3 {
        margin-top: 0;
        padding-top: 0;
        font-size: 1.125rem;
    }
}

.user-sidebar { 
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    border-radius: $border-radius; 
    box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.25);
 

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            a {
                position: relative;
                padding: 0.938rem;
                display: block;
                text-decoration: none;
                color: $secondary;
                font-family: $primary-font;
                font-weight: weight(medium);
                letter-spacing: 0.063rem;
                font-size: 0.875rem;
                @include transition-all;
                svg {
                    width: 1.375rem;
                    height: 1.375rem;
                    margin-right: 0.938rem;
                    float: left;
                    @include transition-all;
                    filter: grayscale(1);
                    opacity: 0.4;
                    margin-top: -0.063rem;

                    .st1 {
                        fill: $secondary;
                    }
                    .st2 {
                        fill: $primary;
                    }
                    .snone {
                        fill: none;
                    }
                }

                span {
                    float: right;
                    background-color: #e6e6e6; color: $secondary;
                    padding: 0.313rem;
                    line-height: 1;
                    font-family: $font-family-base;
                    margin-right: 2.188rem;
                    font-size: 0.813rem;
                    margin-top: 0.063rem;
                    border-radius: $border-radius-sm;
                }

                &:after {
                    width: 1rem;
                    font-weight: 900;
                    content: "\f105";
                    font-family: "Font Awesome 5 Free";
                    color: #fff;
                    position: absolute;
                    right: 0.938rem;
                    top: 0.75rem;
                    z-index: 2;
                    font-size: 1.375rem;
                    @include transition-all;
                }

                &.active {
                    background-color:$primary; color: #fff;
                    svg {fill:#fff;
                        opacity: 1;
                        filter: none;
                        .st1 {
                            fill:#fff;
                        }
                        .st2 {
                            fill:#fff;
                        }
                    }
                    
                }

                &:hover {
                    background-color:$primary; color: #fff;
                    svg {fill:#fff;
                        opacity: 1;
                        filter: none;
                        .st1 {
                            fill:#fff;
                        }
                        .st2 {
                            fill:#fff;
                        }
                    }
                }
            }
        }
    }
}

@include media-800 {
    .user-sidebar {
        display: none;
    }
    .user-sidebar-page {
        margin-top: 0;
        .up-heading {
            font-size: 1.25rem;
            color: $secondary; 
        }
        h3 {
            font-size: 1.125rem;
        }
    }
    .user-pr-side {
        height: 9.375rem;
        .Reward-point {
            margin-top: 0;
        }
        .avatar {
            padding-top: 2.5rem;
        }
    }
}

@include media-767 {
    .user-sidebar-page {
        .btn-primary {
            font-size: 0.875rem;
        }
    }
    .user-sidebar-page {
        
        .up-heading {
            font-size: 1.125rem;
            color: $secondary; 
        }
        h3 {
            font-size: 1.125rem;
        }
    }
    .btn-pos {
        padding-top: 0;
    }

    .user-pr-side {
        height: 6.875rem;
        .Reward-point {
            margin-top: 0;
        }
        .avatar {
            padding-top: 1.188rem;
        }
    }
}

@include media-480 {
.table td, .table th {
    padding: 0.188rem; font-size: 0.75rem;
}
.table td .btn-primary{font-size: 0.688rem; padding: 0.125rem 0.313rem;}

}