<h2 class="up-heading">My <span>Rewards List</span></h2>

<table class="table" *ngIf="(genericService.customerRewardsPoints$ | async) as rewards">
    <thead>
        <tr>
            <th>#</th>
            <th>Status</th>
            <th>Rewards Points</th>
            <th>Balance Points</th>
            <th>Amount</th>
            <th>Date</th>
            <!-- <th>Action</th> -->
        </tr>
    </thead>
    <tbody>
        <!-- {{rewards | json}} -->
        <tr *ngFor="let reward of  rewards.rewards; let i = index;">
            <td>{{i+1}}</td>
            <td [ngClass]="reward.module_type === 'out'  ? 'redColor' : 'greenColor'">
                {{reward.module_type}}
            </td>

            <td *ngIf="reward.module_type === 'in'">{{reward.earned_points | shortDecimal }}</td>
            <td [ngClass]="reward.module_type === 'out'  ? 'redColor' : 'greenColor'">
              {{reward.balance_points | shortDecimal}}
            </td>
            <td *ngIf="reward.module_type === 'in'">{{currency | async}} {{reward.earned_amount | shortDecimal }}</td>
            <td *ngIf="reward.module_type === 'out'">{{reward.redeem_points | shortDecimal }}</td>
            <td *ngIf="reward.module_type === 'out'">{{currency | async}} {{reward.redeem_amount | shortDecimal }}</td>
            <!-- <td rowspan="2">$50</td> -->
            <td>{{reward.created_at | date:'MMM d, y'}}</td>
            <!-- <td>{{order.order_total_price | number:"1.2-2"}}</td>
            <td>{{order.created_at}}</td> -->
            <!-- <td>
                <button class="btn btn-primary" (click)="onShowOrderDetailModal(order)" data-toggle="modal"
                    type="button" data-target="#exampleModal">Detail</button>
            </td> -->
        </tr>
    </tbody>
</table>

<!-- <div class="no-wishlistitem" *ngIf="isLoading">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
</div> -->
<!-- <div class="no-wishlistitem" *ngIf="(genericService.customerRewardsPoints$.rewards.length | async) && loadingComplete">
    <img class="no-wishlist-icon" src="../assets/images/no-orders.svg" alt="">
    <h3> No Rewards</h3>
</div> -->
