<!-- =================================BANNER================================================================= -->

<div *ngIf="isloading" style="text-align: center;">
  <app-loader></app-loader>
</div>
<div *ngIf="!isloading && home?.header">

  <app-cart-modal></app-cart-modal>

  <div class="header1-section">
    <a [routerLink]="home?.header?.url">
      <figure class="main-img">

        <!-- dynamic header code -->
        <!-- <picture>
          <source media="(max-width: 480px)" srcset="{{API_URL}}/{{home?.header.images.mobile}}"
            data-src="{{API_URL}}/{{home?.header.images.mobile}}">
          <source media="(max-width: 1024px)" srcset="{{API_URL}}/{{home?.header.images.tab}}"
            data-src="{{API_URL}}/{{home?.header.images.tab}}">
          <source media="(min-width: 1025px)" srcset="{{API_URL}}/{{home?.header.images.desktop}}"
            data-src="{{API_URL}}/{{home?.header.images.desktop}}">
          <img src="{{API_URL}}/{{home?.header.images.desktop}}"
            data-src="{xs:{{API_URL}}/{{home?.header.images.mobile}},md:{{API_URL}}/{{home?.header.images.tab}},xl:{{API_URL}}/{{home?.header.images.desktop}}}"
            alt="">
        </picture> -->


        <picture>
          <source media="(max-width: 480px)" srcset="../../../assets/images/header-xsm.jpg"
            data-src="../../../assets/images/header-xsm.jpg">
          <source media="(max-width: 1024px)" srcset="../../../assets/images/header-md.jpg"
            data-src="../../../assets/images/header-md.jpg">
          <source media="(min-width: 1025px)" srcset="../../../assets/images/header-lg.jpg"
            data-src="../../../assets/images/header-lg.jpg">
          <img src="../../../assets/images/header-lg.jpg" data-src-base="../../../assets/images/"
            data-src="{xs:../../../assets/images/header-xsm.jpg,md:../../../assets/images/header-md.jpg,xl:images/header-lg.jpg}"
            alt="">
        </picture>

      </figure>
    </a>
  </div>

  <!-- =================================END BANNER================================================================= -->


  <!-- =================================INFO CARD================================================================= -->

  <div class="info-cards">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="card-div">
            <svg xmlns="http://www.w3.org/2000/svg" width="44.416" height="49.704" viewBox="0 0 44.416 49.704">
              <g transform="translate(-27.234)">
                <g transform="translate(27.234)">
                  <path class="st-4"
                    d="M38.867,0H28.292a1.058,1.058,0,0,0-1.058,1.058V38.071a1.058,1.058,0,0,0,1.058,1.058H38.867a1.058,1.058,0,0,0,1.058-1.058V1.058A1.058,1.058,0,0,0,38.867,0ZM37.809,37.014h-8.46V2.115h8.46Z"
                    transform="translate(-27.234)" />
                </g>
                <g transform="translate(37.809 5.288)">
                  <g transform="translate(0)">
                    <path class="st-4"
                      d="M147.8,54.468H137.228a1.058,1.058,0,0,0-1.058,1.058v42.3a1.058,1.058,0,0,0,1.058,1.058H147.8a1.058,1.058,0,0,0,1.058-1.058v-42.3A1.058,1.058,0,0,0,147.8,54.468Zm-1.058,42.3h-8.46V56.583h8.46Z"
                      transform="translate(-136.17 -54.468)" />
                  </g>
                </g>
                <g transform="translate(48.385)">
                  <g transform="translate(0)">
                    <path class="st-4"
                      d="M256.739,0H246.164a1.058,1.058,0,0,0-1.058,1.058V38.071a1.058,1.058,0,0,0,1.058,1.058h10.575a1.058,1.058,0,0,0,1.058-1.058V1.058A1.058,1.058,0,0,0,256.739,0Zm-1.057,37.014h-8.46V2.115h8.46Z"
                      transform="translate(-245.106)" />
                  </g>
                </g>
                <g transform="translate(58.96 5.288)">
                  <path class="st-4"
                    d="M365.675,54.468H355.1a1.058,1.058,0,0,0-1.058,1.058v42.3a1.058,1.058,0,0,0,1.058,1.058h10.575a1.058,1.058,0,0,0,1.058-1.058v-42.3A1.058,1.058,0,0,0,365.675,54.468Zm-1.057,42.3h-8.46V56.583h8.46Z"
                    transform="translate(-354.042 -54.468)" />
                </g>
                <g transform="translate(30.407 3.173)">
                  <g transform="translate(0)">
                    <path class="st-4"
                      d="M60.444,32.681a.529.529,0,0,0-.529.529V43.785a.529.529,0,1,0,1.058,0V33.21A.529.529,0,0,0,60.444,32.681Z"
                      transform="translate(-59.915 -32.681)" />
                  </g>
                </g>
                <g transform="translate(33.05 19.036)">
                  <path class="st-4"
                    d="M87.678,196.085a.529.529,0,0,0-.529.529V201.9a.529.529,0,1,0,1.058,0v-5.288A.529.529,0,0,0,87.678,196.085Z"
                    transform="translate(-87.149 -196.085)" />
                </g>
                <g transform="translate(33.05 29.611)">
                  <path class="st-4"
                    d="M87.678,305.021a.529.529,0,0,0-.529.529v2.644a.529.529,0,1,0,1.058,0V305.55A.529.529,0,0,0,87.678,305.021Z"
                    transform="translate(-87.149 -305.021)" />
                </g>
                <g transform="translate(33.05 5.816)">
                  <path class="st-4"
                    d="M87.678,59.915a.529.529,0,0,0-.529.529v5.288a.529.529,0,1,0,1.058,0V60.444A.529.529,0,0,0,87.678,59.915Z"
                    transform="translate(-87.149 -59.915)" />
                </g>
                <g transform="translate(46.27 8.46)">
                  <path class="st-4"
                    d="M223.848,87.149a.529.529,0,0,0-.529.529V100.9a.529.529,0,1,0,1.058,0V87.678A.529.529,0,0,0,223.848,87.149Z"
                    transform="translate(-223.319 -87.149)" />
                </g>
                <g transform="translate(43.626 13.748)">
                  <path class="st-4"
                    d="M196.614,141.617a.529.529,0,0,0-.529.529v5.288a.529.529,0,0,0,1.058,0v-5.288A.529.529,0,0,0,196.614,141.617Z"
                    transform="translate(-196.085 -141.617)" />
                </g>
                <g transform="translate(40.982 26.967)">
                  <path class="st-4"
                    d="M169.38,277.787a.529.529,0,0,0-.529.529v7.931a.529.529,0,1,0,1.058,0v-7.931A.529.529,0,0,0,169.38,277.787Z"
                    transform="translate(-168.851 -277.787)" />
                </g>
                <g transform="translate(43.626 29.611)">
                  <path class="st-4"
                    d="M196.614,305.021a.529.529,0,0,0-.529.529v13.219a.529.529,0,0,0,1.058,0V305.55A.529.529,0,0,0,196.614,305.021Z"
                    transform="translate(-196.085 -305.021)" />
                </g>
                <g transform="translate(54.201 3.173)">
                  <path class="st-4"
                    d="M305.55,32.681a.529.529,0,0,0-.529.529V38.5a.529.529,0,0,0,1.058,0V33.21A.529.529,0,0,0,305.55,32.681Z"
                    transform="translate(-305.021 -32.681)" />
                </g>
                <g transform="translate(56.845 11.104)">
                  <path class="st-4"
                    d="M332.784,114.383a.529.529,0,0,0-.529.529v15.863a.529.529,0,0,0,1.058,0V114.912A.529.529,0,0,0,332.784,114.383Z"
                    transform="translate(-332.255 -114.383)" />
                </g>
                <g transform="translate(54.201 13.748)">
                  <path class="st-4"
                    d="M305.55,141.617a.529.529,0,0,0-.529.529v2.644a.529.529,0,0,0,1.058,0v-2.644A.529.529,0,0,0,305.55,141.617Z"
                    transform="translate(-305.021 -141.617)" />
                </g>
                <g transform="translate(51.557 19.036)">
                  <path class="st-4"
                    d="M278.316,196.085a.529.529,0,0,0-.529.529v13.219a.529.529,0,1,0,1.058,0V196.614A.529.529,0,0,0,278.316,196.085Z"
                    transform="translate(-277.787 -196.085)" />
                </g>
                <g transform="translate(62.133 34.899)">
                  <path class="st-4"
                    d="M387.252,359.489a.528.528,0,0,0-.529.529v10.575a.529.529,0,0,0,1.058,0V360.018A.528.528,0,0,0,387.252,359.489Z"
                    transform="translate(-386.723 -359.489)" />
                </g>
                <g transform="translate(64.776 29.611)">
                  <g transform="translate(0)">
                    <path class="st-4"
                      d="M414.486,305.021a.528.528,0,0,0-.529.529v10.575a.529.529,0,1,0,1.058,0V305.55A.528.528,0,0,0,414.486,305.021Z"
                      transform="translate(-413.957 -305.021)" />
                  </g>
                </g>
                <g transform="translate(62.133 13.748)">
                  <path class="st-4"
                    d="M387.252,141.617a.529.529,0,0,0-.529.529v2.644a.529.529,0,0,0,1.058,0v-2.644A.529.529,0,0,0,387.252,141.617Z"
                    transform="translate(-386.723 -141.617)" />
                </g>
                <g transform="translate(67.42 19.036)">
                  <path class="st-4"
                    d="M441.72,196.085a.529.529,0,0,0-.529.529v7.932a.529.529,0,0,0,1.058,0v-7.932A.529.529,0,0,0,441.72,196.085Z"
                    transform="translate(-441.191 -196.085)" />
                </g>
              </g>
            </svg>

            <h2>Plastic Wood</h2>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="card-div">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.5 49.5"
              style="enable-background:new 0 0 49.5 49.5;" xml:space="preserve">
              <path class="st-4" d="M42.7,19.9c0.5-0.9,0.3-2.1-0.5-2.8c-1-0.9-2.5-0.9-3.5,0l-0.6,0.6l-0.8-0.8l1.3-1.3c0.6-0.6,1.4-0.8,2.3-0.7
         c2.3,0.3,4.7-0.4,6.4-2.1c2.2-2.1,2.8-5.4,1.6-8.2c-0.2-0.4-0.7-0.6-1.1-0.4c-0.1,0-0.2,0.1-0.3,0.2l-4,4l-2-0.4l-0.4-2l4-4
         c0.3-0.3,0.3-0.8,0-1.2c-0.1-0.1-0.2-0.1-0.3-0.2c-3.8-1.6-8.2,0.2-9.8,4c-0.5,1.3-0.7,2.7-0.5,4c0.1,0.8-0.1,1.7-0.7,2.3l-1.3,1.3
         l-5.5-5.5L26,4.4c-0.1-0.1-0.2-0.3-0.3-0.4l-5.3-2.9C20,1,19.6,1,19.4,1.3l-1.2,1.2c-0.3,0.3-0.3,0.7-0.1,1L21,8.7
         C21.1,8.9,21.2,9,21.3,9l2.2,1.1l5.5,5.5L27.8,17c-0.6,0.6-1.4,0.8-2.3,0.7c-4.1-0.6-7.9,2.2-8.5,6.3c-0.2,1.4,0,2.8,0.5,4
         c0.2,0.4,0.7,0.6,1.1,0.4c0.1,0,0.2-0.1,0.3-0.2l4-4l2,0.4l0.4,2l-4,4c-0.3,0.3-0.3,0.8,0,1.2c0.1,0.1,0.2,0.1,0.3,0.2
         c3.8,1.6,8.2-0.2,9.8-4c0.5-1.3,0.7-2.7,0.5-4c-0.1-0.8,0.1-1.7,0.7-2.3l1.3-1.3l0.8,0.8L34,21.8c-1,1-1,2.5,0,3.5
         c0.7,0.8,1.9,0.9,2.8,0.5l4.9,4.9c1.6,1.6,4.3,1.6,5.9,0c1.6-1.6,1.6-4.2,0-5.8L42.7,19.9z M24.6,8.9c-0.1-0.1-0.1-0.1-0.2-0.2
         l-2.1-1.1l-2.5-4.5l0.3-0.3l4.5,2.5l1.1,2.1c0,0.1,0.1,0.2,0.2,0.2l5.6,5.6l-1.2,1.2L24.6,8.9z M31.3,20.5c-0.9,1-1.4,2.3-1.1,3.7
         c0.5,3.2-1.7,6.1-4.9,6.6c-0.6,0.1-1.3,0.1-1.9,0l3.4-3.4c0.2-0.2,0.3-0.5,0.2-0.7l-0.6-2.9c-0.1-0.3-0.3-0.6-0.7-0.7l-2.9-0.6
         c-0.3-0.1-0.6,0-0.7,0.2l-3.4,3.4c-0.6-3.2,1.5-6.2,4.7-6.7c0.6-0.1,1.3-0.1,1.9,0c1.3,0.2,2.7-0.2,3.7-1.1l6.2-6.2
         c0.9-1,1.4-2.3,1.1-3.7c-0.5-3.2,1.7-6.1,4.9-6.6c0.6-0.1,1.3-0.1,1.9,0l-3.4,3.4c-0.2,0.2-0.3,0.5-0.2,0.7L40,8.8
         c0.1,0.3,0.3,0.6,0.7,0.7l2.9,0.6c0.3,0.1,0.6,0,0.7-0.2l3.4-3.4c0.6,3.2-1.5,6.2-4.7,6.7c-0.6,0.1-1.3,0.1-1.9,0
         c-1.3-0.2-2.7,0.2-3.7,1.1L31.3,20.5z M36.1,18l0.8,0.8L35.8,20l-0.8-0.8L36.1,18z M35.2,24.1c-0.3-0.3-0.3-0.8,0-1.2l4.7-4.7
         c0.3-0.3,0.9-0.3,1.2,0c0.3,0.3,0.3,0.8,0,1.1l-4.7,4.7C36,24.5,35.5,24.5,35.2,24.1L35.2,24.1z M46.4,29.5c-1,1-2.5,1-3.5,0
         l-4.8-4.8l3.5-3.5l4.8,4.8C47.4,27,47.4,28.5,46.4,29.5C46.4,29.5,46.4,29.5,46.4,29.5L46.4,29.5z" />
              <path class="st-4" d="M49.1,35.3c-0.9-1.6-2.9-2.1-4.5-1.2c0,0,0,0,0,0l-8.1,4.7c-0.4-0.7-1.1-1.1-1.9-1.4l-12.4-3.3
         c-1-0.3-2-0.3-2.9,0l-4.4,1.1v-1.4c0-0.5-0.4-0.8-0.8-0.8h0H7.5c-0.5,0-0.8,0.4-0.8,0.8l0,0v0.8H0.8c-0.5,0-0.8,0.4-0.8,0.8l0,0V47
         c0,0.5,0.4,0.8,0.8,0.8c0,0,0,0,0,0h5.8v0.8c0,0.5,0.4,0.8,0.8,0.8c0,0,0,0,0,0h6.6c0.5,0,0.8-0.4,0.8-0.8l0,0v-1.1L16,48
         c0.8,0.4,1.7,0.6,2.6,0.6H31c1,0,2-0.3,2.9-0.8l13.9-8C49.4,38.9,50,36.9,49.1,35.3L49.1,35.3z M1.7,46.1v-10h5v10H1.7z M13.3,47.8
         h-5V34.5h5L13.3,47.8z M47,38.4l-13.9,8.1C32.5,46.8,31.8,47,31,47H18.6c-0.6,0-1.3-0.2-1.9-0.4l-1.8-0.9v-8.8l4.8-1.2
         c0.7-0.2,1.4-0.2,2.1,0L34.2,39c0.9,0.2,1.4,1.1,1.2,2c-0.2,0.9-1.1,1.4-2,1.2l-9.9-2.7c-0.4-0.1-0.9,0.1-1.1,0.5
         c-0.1,0.4,0.1,0.9,0.5,1.1c0,0,0.1,0,0.1,0l9.9,2.7c0.3,0.1,0.6,0.1,0.9,0.1c1.8,0,3.3-1.4,3.3-3.3c0-0.1,0-0.2,0-0.3l8.4-4.8
         c0.8-0.4,1.8-0.2,2.3,0.6C48.1,36.9,47.8,37.9,47,38.4z" />
            </svg>
            <h2>Maintenance Free</h2>
          </div>
        </div>



        <div class="col-lg-3 col-6">
          <div class="card-div">

            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58.6 49.5"
              style="enable-background:new 0 0 58.6 49.5;" xml:space="preserve">
              <path class="st-4"
                d="M29.3,17.2c3.8,0,7-3.1,7-6.9c0-1.6-0.5-3.1-1.5-4.4c0,0,0,0,0,0l-4-5.1C30.4,0.2,29.8,0,29.3,0l0,0
              c-0.5,0-1.1,0.3-1.4,0.7l-4,5.1l0,0c-2.4,3-2,7.4,1,9.8C26.2,16.6,27.7,17.2,29.3,17.2L29.3,17.2z M25.7,7.3L25.7,7.3l3.6-4.7
              l3.6,4.5c0,0,0,0.1,0.1,0.1c1.6,2,1.3,5-0.7,6.6s-5,1.3-6.6-0.7c-0.7-0.8-1.1-1.9-1.1-3C24.6,9.1,25,8.1,25.7,7.3L25.7,7.3z" />
              <path class="st-4" d="M7,17.2c3.8,0,7-3.1,7-6.9c0-1.6-0.5-3.1-1.5-4.4l0,0l-4-5.1C8,0.2,7.5,0,7,0l0,0C6.4,0,5.9,0.3,5.6,0.7l-4,5.1
              l0,0c-2.4,3-2,7.4,1,9.8C3.8,16.6,5.4,17.2,7,17.2z M3.3,7.3L3.3,7.3L7,2.6l3.6,4.5c0,0,0,0.1,0.1,0.1c1.6,2,1.3,5-0.7,6.6
              s-5,1.3-6.6-0.7c-0.7-0.8-1.1-1.9-1.1-3C2.3,9.1,2.7,8.1,3.3,7.3z" />
              <path class="st-4" d="M51.6,17.2c3.8,0,7-3.1,7-6.9c0-1.6-0.5-3.1-1.5-4.4l0,0l-4-5.1C52.7,0.2,52.2,0,51.6,0l0,0
              c-0.5,0-1.1,0.3-1.4,0.7l-4,5.1l0,0c-2.4,3-2,7.4,1,9.8C48.5,16.6,50,17.2,51.6,17.2L51.6,17.2z M48,7.3C48,7.2,48,7.2,48,7.3
              l3.6-4.7l3.6,4.5c0,0,0,0.1,0.1,0.1c1.6,2,1.3,5-0.7,6.6c-2,1.6-5,1.3-6.6-0.7c-0.7-0.8-1.1-1.9-1.1-3C46.9,9.1,47.3,8.1,48,7.3
              L48,7.3z" />
              <path class="st-4" d="M57.5,27.3h-5v-1.5c0-0.6-0.5-1.1-1.1-1.1s-1.1,0.5-1.1,1.1v1.5H30.5v-1.5c0-0.6-0.5-1.1-1.1-1.1
              s-1.1,0.5-1.1,1.1v1.5H8.5v-1.5c0-0.6-0.5-1.1-1.1-1.1s-1.1,0.5-1.1,1.1v1.5h-5c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1h56.3
              c0.6,0,1.1-0.5,1.1-1.1C58.6,27.8,58.1,27.3,57.5,27.3z" />
              <path class="st-4" d="M57.5,19.9H1.1c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1c0,0,0,0,0,0h16v1.5c0,0.6,0.5,1.1,1.1,1.1
              c0.6,0,1.1-0.5,1.1-1.1v-1.5h19.7v1.5c0,0.6,0.5,1.1,1.1,1.1s1.1-0.5,1.1-1.1v-1.5h16c0.6,0,1.1-0.5,1.1-1.1S58.1,19.9,57.5,19.9
              C57.5,19.9,57.5,19.9,57.5,19.9z" />
              <path class="st-4" d="M31,45l-0.6,0.6v-5.9c0-0.6-0.5-1.1-1.1-1.1c-0.6,0-1.1,0.5-1.1,1.1v5.9L27.6,45c-0.4-0.4-1.2-0.4-1.6,0
              s-0.4,1.2,0,1.6l2.5,2.5c0.4,0.4,1.2,0.4,1.6,0l2.5-2.5c0.5-0.4,0.5-1.2,0-1.6C32.3,44.5,31.5,44.5,31,45C31.1,45,31.1,45,31,45
              L31,45z" />
              <path class="st-4" d="M29.3,36.2c0.6,0,1.1-0.5,1.1-1.1c0-0.6-0.5-1.1-1.1-1.1c-0.6,0-1.1,0.5-1.1,1.1c0,0.3,0.1,0.6,0.3,0.8
              C28.7,36.1,29,36.2,29.3,36.2z" />
              <path class="st-4" d="M53.4,45l-0.6,0.6V35c0-0.6-0.5-1.1-1.1-1.1c-0.6,0-1.1,0.5-1.1,1.1v10.5L49.9,45c-0.4-0.4-1.2-0.4-1.6,0
              c-0.4,0.4-0.4,1.2,0,1.6l0,0l2.5,2.5c0.4,0.4,1.2,0.4,1.6,0c0,0,0,0,0,0l2.5-2.5c0.5-0.4,0.5-1.2,0-1.6S53.9,44.5,53.4,45
              C53.4,44.9,53.4,45,53.4,45L53.4,45z" />
              <path class="st-4" d="M8.7,45l-0.6,0.6V35c0-0.6-0.5-1.1-1.1-1.1S5.8,34.4,5.8,35v10.5L5.2,45c-0.4-0.4-1.2-0.4-1.6,0
              c-0.4,0.4-0.4,1.2,0,1.6l2.5,2.5c0.4,0.4,1.2,0.4,1.6,0c0,0,0,0,0,0l2.5-2.5c0.5-0.4,0.5-1.2,0-1.6C9.9,44.5,9.2,44.5,8.7,45
              C8.7,44.9,8.7,45,8.7,45L8.7,45z" />
            </svg>

            <h2>Water Proof</h2>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="card-div border-0">

            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53.6 50.3"
              style="enable-background:new 0 0 53.6 50.3;" xml:space="preserve">

              <g transform="translate(0.4 -15.606)">
                <path class="st-4" d="M38.1,23.4c-0.2-0.9-0.8-1.5-1.6-1.8l-3.2-1.1c-1.3-0.4-2.6,0.3-3.1,1.5c-0.2,0.5-0.2,1.1,0,1.6l1.1,3
                c0.5,1.3,1.9,1.9,3.1,1.4c0.3-0.1,0.5-0.3,0.8-0.5l2.1-1.9C37.9,25.2,38.2,24.3,38.1,23.4L38.1,23.4z M36.3,24.6l-2.1,1.9
                c-0.4,0.3-0.9,0.3-1.2-0.1c-0.1-0.1-0.1-0.2-0.2-0.3l-1.1-3c-0.2-0.5,0.1-1,0.5-1.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0
                l3.2,1.1c0.5,0.2,0.7,0.7,0.5,1.1C36.5,24.3,36.4,24.5,36.3,24.6L36.3,24.6z" />
                <path class="st-4" d="M38.7,16.1c-4.6-0.4-9.1,1.3-12.3,4.6c-3.2-3.3-7.7-5-12.3-4.6C6,16.9,0,23.6,0,31.7c0.1,4.9,1.5,9.7,4.1,13.9
                c2.4,4,5.4,7.5,8.9,10.6c4,3.6,8.3,6.7,13,9.2c0.2,0.1,0.5,0.1,0.7,0c4.7-2.5,9-5.6,13-9.2c3.5-3.1,6.5-6.6,8.9-10.6
                c2.6-4.2,4-9,4.1-13.9C52.8,23.6,46.7,16.9,38.7,16.1L38.7,16.1z M47.9,22.6c1.8,2.2,2.9,4.9,3.2,7.7L44.9,30c-0.8,0-1.6,0.3-2.1,1
                l-0.7,0.9c-0.5,0.7-1.5,0.8-2.2,0.3c-0.6-0.4-0.8-1.2-0.5-1.9l1.1-2.3c0.3-0.7,1.1-1,1.8-0.7c0.3,0.2,0.7,0,1-0.3l1.7-2.5
                c0.4-0.6,0.9-1,1.6-1.4L47.9,22.6z M5.2,22.2c2.3-2.6,5.5-4.3,9-4.6c0.4,0,0.8-0.1,1.2-0.1h0.1l-0.8,2.1c-0.6,1.7,0.2,3.6,1.9,4.2
                c0.1,0,0.2,0.1,0.3,0.1l1.7,0.4c0.3,0.1,0.6,0,0.8-0.3l1.2-1.5c0,0,0.1,0,0.1,0c0,0,0,0,0,0l2.6,2.7c0.6,0.6,0.6,1.5,0.2,2.1
                l-2.7,3.9c-0.7,1-1.7,1.6-2.9,1.8l-3.5,0.5c-0.9,0.1-1.5,0.9-1.4,1.8c0,0.1,0,0.1,0,0.2l0.4,1.7L12,37.4c-1.3,0.1-2.5-0.6-3.1-1.6
                l-6-10.1C3.5,24.4,4.3,23.2,5.2,22.2z M5.4,44.8C3,40.8,1.6,36.3,1.5,31.7c0-1.4,0.2-2.8,0.6-4.2l5.4,9.1c0.9,1.6,2.7,2.5,4.5,2.4
                l5-0.3c0.5,0,1.1,0.1,1.5,0.4l-8.4,3.1c-1.3,0.5-1.9,1.8-1.5,3.1c0.2,0.4,0.4,0.8,0.8,1.1l3.2,2.4l0.3,5.3
                C10.1,51.3,7.5,48.2,5.4,44.8L5.4,44.8z M47.3,44.8C46,47,44.5,49,42.8,50.9l-0.7-3.2c-0.1-0.6-0.6-1-1.1-1.2l-1.3-0.4
                c-2.2-0.6-3.5-3-2.9-5.2c0.6-2,2.4-3.2,4.4-3c0.4,0,0.8-0.3,0.8-0.7c0-0.4-0.3-0.8-0.7-0.8c-3.2-0.3-6,2-6.3,5.2
                c-0.3,2.8,1.5,5.3,4.2,6.1l1.3,0.4c0,0,0,0,0,0l0.9,4.3c-0.9,0.9-1.8,1.8-2.8,2.8c-3.8,3.4-7.9,6.3-12.3,8.8
                c-4.2-2.3-8.1-5.1-11.7-8.3l-0.4-7.2c0-0.2-0.1-0.4-0.3-0.6l-3.5-2.7c-0.4-0.3-0.5-0.8-0.2-1.2c0.1-0.1,0.2-0.2,0.4-0.3l9.3-3.4
                l4.6,3.7c0.7,0.6,0.8,1.7,0.2,2.4c-0.1,0.1-0.1,0.2-0.2,0.2l-3.9,3.3c-0.4,0.3-0.6,0.7-0.8,1.2l-1.5,4.9c-0.1,0.4,0.1,0.8,0.5,1
                c0.4,0.1,0.8-0.1,1-0.5c0,0,0,0,0,0l1.5-4.9c0-0.2,0.1-0.3,0.3-0.4l3.9-3.3c1.4-1.2,1.5-3.2,0.4-4.6c-0.1-0.2-0.3-0.3-0.4-0.4
                L19.8,38c-0.8-0.7-1.8-1-2.8-0.9L15,37.3l-0.5-2c0,0,0-0.1,0-0.1c0,0,0,0,0,0l3.5-0.5c1.6-0.2,3-1.1,4-2.4l2.7-3.9
                c0.9-1.3,0.7-3-0.3-4.1l-2.6-2.7c-0.6-0.6-1.6-0.7-2.3-0.1c-0.1,0.1-0.1,0.1-0.2,0.2l-0.9,1.1l-1.2-0.3c-0.9-0.2-1.4-1.2-1.2-2.1
                c0-0.1,0-0.1,0.1-0.2l1-2.5c3.4,0.4,6.4,2.1,8.6,4.6c0.3,0.3,0.8,0.4,1.1,0.1c0,0,0,0,0.1-0.1c2.9-3.3,7.2-5.1,11.6-4.7
                c3.1,0.3,6,1.6,8.3,3.8l-0.9,0.5c-0.9,0.4-1.6,1.1-2.2,1.9l-1.4,2c-1.3-0.3-2.6,0.4-3.2,1.6l-1.1,2.3c-0.7,1.5,0,3.4,1.5,4.1
                c1.3,0.6,2.9,0.2,3.8-1l0.7-0.9c0.2-0.2,0.5-0.4,0.8-0.4l6.4,0.3c0,1.8-0.2,3.6-0.7,5.3l-6-0.6c-0.4,0-0.8,0.3-0.8,0.7
                c0,0.4,0.3,0.8,0.7,0.8l5.8,0.5C49.4,40.8,48.5,42.9,47.3,44.8L47.3,44.8z" />
              </g>
            </svg>

            <h2>Environment Friendly</h2>
          </div>
        </div>




      </div>
    </div>
  </div>


  <div class="about-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6">
          <h2>ABOUT COMPANY</h2>
          <p>Our story began in the late 1994s when we saw the steadily growing mountains of plastic and used beverage
            cartons in Pakistan. We planned to start first recycling program to collect domestic waste from houses, sort
            them and recycle waste to be used to manufacture the products.</p>
          <div class="about-img-h display-sm">
            <img src="../../../assets/images/home-about-img.jpg" alt="">
          </div>
          <button type="button" class="btn btn-primary" tabindex="0" ng-reflect-router-link="/">Learn More</button>
        </div>
        <div class="col-lg-4 col-md-6 about-img-h hidden-sm">
          <img src="../../../assets/images/home-about-img.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="product-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content">
            <div class="tab-pane active" id="first" role="tabpanel" aria-labelledby="first-tab">
              <img class="product-sec-img" src="../../../assets/images/product-2154.jpg" alt="">
              <h2>A winning combination of material & technology, made from unique blend of recycled polyethene plastic
                such as shopping bags & plastic scraps</h2>
            </div>
            <div class="tab-pane" id="second" role="tabpanel" aria-labelledby="second-tab">
              <img class="product-sec-img" src="../../../assets/images/product-2154.jpg" alt="">
              <h2>Strong & impact resistant with the beauty of natural wood, it is maintenance free with a long lasting
                life</h2>
            </div>
            <div class="tab-pane" id="third" role="tabpanel" aria-labelledby="third-tab">
              <img class="product-sec-img" src="../../../assets/images/product-2154.jpg" alt="">
              <h2>The perfect mix of recycled materials make the product water proof, resists rotting, splitting &
                splintering</h2>
            </div>
            <div class="tab-pane" id="forth" role="tabpanel" aria-labelledby="forth-tab">
              <img class="product-sec-img" src="../../../assets/images/product-2154.jpg" alt="">
              <h2>Removes the menace of plastic bags from mainstream thus conserving the already dwindling forest
                reserves</h2>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first"
                aria-selected="true">Green Plastic Wood

              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second"
                aria-selected="false">Maintenance Free

              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third"
                aria-selected="false">Water Proof & Resistant

              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="forth-tab" data-toggle="tab" href="#forth" role="tab" aria-controls="forth"
                aria-selected="false">Loving Mother Nature

              </a>
            </li>
          </ul>


        </div>
      </div>
    </div>
  </div>


  <div class="about-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 d-flex align-items-center">
          <div>
            <h2>HOW WE RECYCLE</h2>
            <p>Our goal is to deliver a quality product our customers want in a timely fashion. To achieve this vision,
              we developed state-of-the-art technology
              and lean manufacturing processes that have minimized our waste stream and ensured our products are built
              quickly and accurately.</p>
            <div class="about-img-process display-md">
              <img src="../../../assets/images/process.gif" alt="">
            </div>
            <button type="button" class="btn btn-primary" tabindex="0" ng-reflect-router-link="/">Learn More</button>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 about-img-process hidden-md">
          <div>
            <img src="../../../assets/images/process.gif" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


 
  <!-- <div class="about-sec"> -->
 
    <div class="related-pr-section bg-color-lg">
      <div class="container">
        <div class="row">
          <div class="col-12 section-heading">
            <h1>CHOOSE A CATEGORY<span></span></h1>
          </div>
        </div>

        <div class="row">   

            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="pr-cate-card">
                  <div class="row">
                    <div class="col pr-0">
                      <h3><span>GREEN</span>FURNITURE</h3>
                      <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                    <div class="col-auto"> 
                      <img src="../../../assets/images/category-001.jpg" alt="">
                    </div>
                  </div>              
              </a>
           </div> 

            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="pr-cate-card">
                  <div class="row">
                    <div class="col pr-0">
                      <h3><span>GREEN</span>TUFF BOARD</h3>
                      <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                    <div class="col-auto"> 
                      <img src="../../../assets/images/category-001.jpg" alt="">
                    </div>
                  </div>              
              </a>
           </div> 

           <div class="col-lg-4 col-md-6 col-12">
            <a href="#" class="pr-cate-card">
              <div class="row">
                <div class="col pr-0">
                  <h3><span>GREEN</span>PALLETS</h3>
                  <i class="fas fa-long-arrow-alt-right"></i>
                </div>
                <div class="col-auto"> 
                  <img src="../../../assets/images/category-001.jpg" alt="">
                </div>
              </div>              
          </a>
       </div> 

       <div class="col-lg-4 col-md-6 col-12">
            <a href="#" class="pr-cate-card">
              <div class="row">
                <div class="col pr-0">
                  <h3><span>GREEN</span>SEPARATOR SHEETS</h3>
                  <i class="fas fa-long-arrow-alt-right"></i>
                </div>
                <div class="col-auto"> 
                  <img src="../../../assets/images/category-001.jpg" alt="">
                </div>
              </div>              
          </a>
      </div> 



      <div class="col-lg-4 col-md-6 col-12">
        <a href="#" class="pr-cate-card">
          <div class="row">
            <div class="col pr-0">
              <h3><span>GREEN</span>GRID</h3>
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
            <div class="col-auto"> 
              <img src="../../../assets/images/category-001.jpg" alt="">
            </div>
          </div>              
      </a>
      </div> 

      <div class="col-lg-4 col-md-6 col-12">
        <a href="#" class="pr-cate-card">
          <div class="row">
            <div class="col pr-0">
              <h3><span>GREEN</span>PIPE</h3>
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
            <div class="col-auto"> 
              <img src="../../../assets/images/category-001.jpg" alt="">
            </div>
          </div>              
      </a>
      </div> 

      <div class="col-lg-4 col-md-6 col-12">
        <a href="#" class="pr-cate-card">
          <div class="row">
            <div class="col pr-0">
              <h3><span>GREEN</span>MECHANICAL WOOD PULP</h3>
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
            <div class="col-auto"> 
              <img src="../../../assets/images/category-001.jpg" alt="">
            </div>
          </div>              
      </a>
      </div> 
      


<div class="col-lg-4 col-md-6 col-12">
    <a class="pr-cate-card">
      <div class="row">
        <div class="col pr-0">
          <h3><span>GREEN</span>CALCIUM CARBONATE</h3> 
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
        <div class="col-auto"> 
          <img src="../../../assets/images/category-001.jpg" alt="">
        </div>
      </div>              
  </a>
  </div> 

      <div class="col-lg-4 col-md-6 col-12">
        <a class="pr-cate-card">
          <div class="row">
            <div class="col pr-0">
              <h3><span>GREEN</span>PREFAB HUTS</h3> 
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
            <div class="col-auto"> 
              <img src="../../../assets/images/category-001.jpg" alt="">
            </div>
          </div>              
      </a>
      </div> 

        </div> 

      </div>
    </div>


      <!--   
<div class="how-we-do">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>HOW WE DO THE RECYCLING</h2>
          <p>Our goal is to deliver a quality product our customers want in a timely fashion. To achieve this vision, we
            developed state-of-the-art technology and lean manufacturing processes that have minimized our waste stream
            and ensured our products are built quickly and accurately.</p>
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/recycle-bin.svg" alt=""><b>STEP 1</b>
          <p>Collect domestic waste from houses</p>
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/selective.svg" alt=""><b>STEP 2</b>
          <p>Sort the waste that was collected</p>
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/recycle.svg" alt=""><b>STEP 3</b>
          <p>Recycle the sorted waste</p>
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/m-product.svg" alt=""><b>STEP 4</b>
          <p>Manufacture the products.</p>
        </div>
      </div>
    </div>
  </div>   -->



      <!-- =================================FEATURE PRODUCTS================================================================= -->

      <div class="tabs-section" *ngIf="home?.featured_product.is_active && isOneTabActive"
        [ngClass]="(home?.featured_product.is_active)? '': 'hidden'">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center section-heading">
              <h1>{{home?.featured_product?.title.split(' ')[0]}}
                <span>{{home?.featured_product?.title.split(' ').splice(1).join(' ')}}</span>
              </h1>
              <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation" *ngFor="let tab of home?.featured_product?.tabs; index as i">
                  <a *ngIf="tab?.is_active" class="nav-link" [ngClass]="(i == 0)? 'active': ''"
                    id="{{tab?.title.split(' ').join('-')}}-{{i}}-tab" data-toggle="pill"
                    href="#{{tab?.title.split(' ').join('-')}}-{{i}}" role="tab"
                    aria-controls="{{tab?.title.split(' ').join('-')}}-{{i}}" aria-selected="true">{{tab.title}}</a>
                </li>
              </ul>
            </div>

            <div class="col-12">
              <ng-scrollbar #scrollable track="horizontal" pointerEventsMethod="scrollbar">
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade" [ngClass]="(i == 0)? 'active show': ''"
                    *ngFor="let tab of home?.featured_product?.tabs; let i = index"
                    id="{{tab?.title?.split(' ').join('-')}}-{{i}}" role="tabpanel"
                    aria-labelledby="{{tab?.title?.split(' ').join('-')}}-{{i}}-tab">
                    <div>

                      <div class="fp-overflow-sm">
                        <div class="row justify-content-md-center">
                          <!--Product Component-->
                          <div class="col-12" *ngIf="!tab?.list?.length">
                            <div class="no-prduct-tab">No Product Available</div>
                          </div>
                          <div class="col-lg-3 col-w-set" *ngFor="let product of tab?.list">
                            <!-- home?.featured_product?.tabs[0].tab?.list -->
                            <app-product-card [product]="product" [homePage]="true" [currency]="currency">
                            </app-product-card>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </div>


      <div class="projects">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-6 d-flex align-items-center">
              <div>
                <h2>Our Clients</h2>
                <p>Our goal is to deliver a quality product our customers want in a timely fashion.</p>
                <button type="button" class="btn btn-outline-light mt-20" ng-reflect-router-link="/">View All</button>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="w-100">
                <div class="row">
                  <div class="col-lg-4 col-4 logo-co"><img src="../../../assets/images/nestle.svg" alt=""></div>
                  <div class="col-lg-4 col-4 logo-co"><img src="../../../assets/images/mcdonald.svg" alt=""></div>
                  <div class="col-lg-4 col-4 logo-co"><img src="../../../assets/images/unilever.svg" alt=""></div>
                  <div class="col-lg-4 col-4 logo-co"><img src="../../../assets/images/pepsi.svg" alt=""></div>
                  <div class="col-lg-4 col-4 logo-co"><img src="../../../assets/images/cocacola.svg" alt=""></div>
                  <div class="col-lg-4 col-4 logo-co"><img src="../../../assets/images/tetra.svg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="related-pr-section">
        <div class="container">
          <div class="row">
            <div class="col-12 section-heading">
              <h1>BLOGS <span></span></h1>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-3 col-6">
              <div class="blog-card">
                <a href="#">

                  <div class="imgblog">
                    <div class="label-blog">NATURE</div><img src="../../../assets/images/blog-01245.jpg" alt="">
                  </div>
                  <div class="blog-info">
                    <span class="float-left"><i class="far fa-clock"></i> June 1, 2018 </span>
                    <span class="float-right pt-5"><i class="far fa-comment"></i> 4</span>
                  </div>
                  <h3>Collect domestic waste from houses</h3>
                </a>
                <p>Our goal is to deliver a quality product our customers want in a timely fashion. To achieve this
                  vision,
                  we developed state-of-the-art</p>
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="blog-card">
                <a href="#">
                  <div class="imgblog">
                    <div class="label-blog">NATURE</div><img src="../../../assets/images/blog-01246.jpg" alt="">
                  </div>
                  <div class="blog-info">
                    <span class="float-left"><i class="far fa-clock"></i> June 1, 2018 </span>
                    <span class="float-right pt-5"><i class="far fa-comment"></i> 4</span>
                  </div>
                  <h3>Collect domestic waste from houses</h3>
                </a>
                <p>Our goal is to deliver a quality product our customers want in a timely fashion. To achieve this
                  vision,
                  we developed state-of-the-art</p>
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="blog-card">
                <a href="#">
                  <div class="imgblog">
                    <div class="label-blog">NATURE</div><img src="../../../assets/images/blog-01245.jpg" alt="">
                  </div>
                  <div class="blog-info">
                    <span class="float-left"><i class="far fa-clock"></i> June 1, 2018 </span>
                    <span class="float-right pt-5"><i class="far fa-comment"></i> 4</span>
                  </div>
                  <h3>Collect domestic waste from houses Collect domestic waste from houses</h3>
                </a>
                <p>Our goal is to deliver a quality product our customers want in a timely fashion. To achieve this
                  vision,
                  we developed state-of-the-art</p>
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="blog-card">
                <a href="#">
                  <div class="imgblog">
                    <div class="label-blog">NATURE</div><img src="../../../assets/images/blog-01245.jpg" alt="">
                  </div>
                  <div class="blog-info">
                    <span class="float-left"><i class="far fa-clock"></i> June 1, 2018 </span>
                    <span class="float-right pt-5"><i class="far fa-comment"></i> 4</span>
                  </div>
                  <h3>Collect domestic waste from houses Collect domestic waste from houses</h3>
                </a>
                <p>Our goal is to deliver a quality product our customers want in a timely fashion. To achieve this
                  vision,
                  we developed state-of-the-art</p>
              </div>
            </div>


          </div>



        </div>
      </div>


    </div>