
<div class="sub-header">
  <div class="hd-content">
      <h2>CAREER <span></span></h2>
      <p>Explore a career with Green Earth!</p>
  </div>
</div>

<div class="about-sec  contact-section">
  <div class="container pb-30">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h2>WHY CHOOSE US</h2>
        </div>
      <div class="col-lg-8 col-md-8">
        <p>Our story began in the late 1994s when we saw the steadily growing mountains of plastic and used beverage cartons in Pakistan. 
          We planned to start first recycling program to collect domestic waste from houses, sort them and recycle waste to be used to manufacture 
          the products. Our story began in the late 1994s when we saw the steadily growing mountains of plastic and used beverage cartons in Pakistan. 
          We planned to start first recycling program to collect domestic waste from houses, sort them and recycle waste to be used to manufacture the products.</p>
      </div>
    </div> 
  </div>

  <div class="container pt-30">
    <div class="row">     

      <div class="col-md-12">
        <div class="job-card text-center">
        <img class="no-job-icon" src="./assets/images/recruitment.svg" alt=""> 
        <h3 class="mb-20">There is no positions available currently</h3> 
        </div>
      </div> 

      <div class="col-lg-4 col-md-6 col-12">
        <div class="job-card">
        <h1>Director, Enterprise Customer Success</h1>
        <div class="row">
        <div class="col-6">
          Lahore, PK
        </div>
        <div class="col-6 text-right">
        <a [routerLink]="['/page/career-form']"><i class="fas fa-long-arrow-alt-right"></i> View Detail</a>
        </div>
        </div>
        </div>
      </div> 
      
      <div class="col-lg-4 col-md-6 col-12">
        <div class="job-card">
        <h1>Senior Manager, Business Analytics</h1>
        <div class="row">
        <div class="col-6">
          Islamabad, PK
        </div>
        <div class="col-6 text-right">
          <a [routerLink]="['/page/career-form']"><i class="fas fa-long-arrow-alt-right"></i> View Detail</a>
        </div>
        </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-12">
        <div class="job-card">
        <h1>Competitive Intelligence Manager</h1>
        <div class="row">
        <div class="col-6">
          Karachi, PK
        </div>
        <div class="col-6 text-right">
          <a [routerLink]="['/page/career-form']"><i class="fas fa-long-arrow-alt-right"></i> View Detail</a>
        </div>
        </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-12">
        <div class="job-card">
        <h1>Competitive Intelligence Manager</h1>
        <div class="row">
        <div class="col-6">
          Karachi, PK
        </div>
        <div class="col-6 text-right">
          <a [routerLink]="['/page/career-form']"><i class="fas fa-long-arrow-alt-right"></i> View Detail</a>
        </div>
        </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-12">
        <div class="job-card">
        <h1>Competitive Intelligence Manager</h1>
        <div class="row">
        <div class="col-6">
          Karachi, PK
        </div>
        <div class="col-6 text-right">
        <a [routerLink]="['/page/career-form']"><i class="fas fa-long-arrow-alt-right"></i> View Detail</a>
        </div>
        </div>
        </div>
      </div>
      
      </div>
  </div>

</div>


 