<div class="sub-header">
    <div class="hd-content">
        <h2>ABOUT <span>US</span></h2>
        <!-- <p>UK ONLINE ECIG SHOP</p> -->
    </div>
</div>

<div class="about-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6">
          <h2>OUR JOURNEY</h2>
          <p>Our story began in the late 1994s when we saw the steadily growing mountains of plastic and used beverage cartons in Pakistan. We planned to start first recycling program to collect domestic waste from houses, sort them and recycle waste to be used to manufacture the products.</p>
        </div>
        <div class="col-lg-4 col-md-6 about-img-h">
          <img src="../../../assets/images/home-about-img.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="how-we-do">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <h2>COMPANY VALUES</h2>
        <p>Our goal is to deliver a quality product our customers want in a timely fashion. To achieve this vision, we developed state-of-the-art technology and lean manufacturing processes that have minimized our waste stream and ensured our products are built quickly and accurately.</p>
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/plastic-green.svg" alt=""><b>PLASTIC Wood</b>
        <!-- <p></p> -->
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/maintenance-tools.svg" alt=""><b>Maintenance Free</b>
        <!-- <p></p> -->
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/water-proof.svg" alt=""><b>Water Proof</b>
        <!-- <p></p> -->
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/environmently.svg" alt=""><b>Environmently</b>
        <!-- <p></p> -->
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/slip-resistant.svg" alt=""><b>Slip Resistant</b>
        <!-- <p></p> -->
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/splinter-proof.svg" alt=""><b>Splinter Proof</b>
        <!-- <p></p> -->
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/strong-durable.svg" alt=""><b>Strong And Durable</b>
        <!-- <p></p> -->
        </div>
        <div class="col-lg-3 col-6"><img src="../../../assets/images/insects-free.svg" alt=""><b>Insects Free</b>
        <!-- <p></p> -->
        </div>
      </div>
    </div>
  </div>
 
 