<div class="sub-header">
    <div class="hd-content">
        <h2>E-Brochures</h2>
        <!-- <p>UK ONLINE ECIG SHOP</p> -->
    </div>
</div> 

<div class="about-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6">
          <h2>Download E-Brochures </h2>
          <p>Are you looking for printable information about our products? Here you can download the e-Brochures in PDF Format.</p>
          <div class="about-img-eb display-sm mb-30">
            <img src="../../../assets/images/home-about-img.jpg" alt="">
          </div>
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Furniture</h3></div>
                <div class="col-auto pl-0 text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a> 
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Tuff Board</h3></div>
                <div class="col-auto pl-0 text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a>
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Pallets</h3></div>
                <div class="col-auto pl-0 text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a> 
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Separator Sheets</h3></div>
                <div class="col-auto pl-0 text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a> 
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Grid</h3></div>
                <div class="col-auto text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a>
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Pipe</h3></div>
                <div class="col-auto pl-0 text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a>
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Mechanical Wood Pulp</h3></div>
                <div class="col-auto pl-0 text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a>
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Calcium Carbonate</h3></div>
                <div class="col-auto pl-0 text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a>
			
            <a href="#" class="brochures-list">
              <div class="row">
                <div class="col"><h3><i class="fa fa-file-pdf"></i> Green Prefab Huts</h3></div>
                <div class="col-auto pl-0 text-right"><i class="fas fa-download"></i>Download</div>
              </div>
            </a>
			
        </div>	 
		  
		<div class="col-lg-5 col-md-6 about-img-eb hidden-sm d-flex align-items-center">
          <div class="text-right w-100"><img src="../../../assets/images/home-about-img.jpg" alt=""></div>
        </div>
		  
      </div>
    </div>
</div>

  
 
 