<div class="sub-header">
    <div class="hd-content">
        <h2>Frequently<span> Asked Questions </span></h2>
        <p>How can we help you?</p>
    </div>
</div>

<div class="section">
    <div class="container privacy-po-sec">
        <div class="row">
            <div class="col-12">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">What is Green Earth Recycling?</button>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                            Green Earth Recycling (Pakistan) has devised a high quality environment friendly and long lasting wood 
                            alternative by utilizing a winning combination of material and technology.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">What is Plastic Wood?</button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                            Plastic Wood is composed of a unique blend of recycled polyethylene plastic such as shopping bags and plastic scraps.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">Is Plastic wood need maintenance?</button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                It is maintenance-free, insect, termite, and waterproof.                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingforth">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseforth"
                                aria-expanded="false" aria-controls="collapseforth">Is Green plastic wood cost effective?</button>
                        </div>
                        <div id="collapseforth" class="collapse" aria-labelledby="headingforth"
                            data-parent="#accordion">
                            <div class="card-body">Green plastic wood is much cheaper when compared to better quality wood products. Green Plastic Wood 
                            product would cost you less than the wood product, still be more durable, and have a life-lasting beauty with alluring colors.</div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingfive">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive"
                                aria-expanded="false" aria-controls="collapsefive">Is Green plastic wood wise investment?</button>
                        </div>
                        <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                            <div class="card-body">Yes! Because it is insect-free, water proof and resistant to rotting, splitting and splintering
                                <!-- <ul class="list-bullet">
                                    <li></li>
                                </ul>  -->
                                
                            </div>
                        </div>
                    </div>

                   

                </div>


            </div>
        </div>

    </div>
</div>